.page {
  display: grid;
  place-items: center;
  font-family: var(--main-font-family, sans-serif);
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-regular, 400);
}

.dynamic-width {
  width: clamp(
    var(--min-inline-size),
    calc(100vw * var(--vw-ratio)),
    var(--max-inline-size)
  );
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
  border: 2px solid var(--main-color, #000);
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem)
    clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  font-family: var(--accent-font-family, monospace);
  background-color: var(--content-bg, #fff);
}

.header__title {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 49px;
}

.card {
  border: 2px solid var(--main-color, #000);
  background-color: var(--content-bg, #fff);
}

.card__title {
  border-block-end: 2px solid var(--main-color, #000);
  padding: 4.5px 24px 4.5px 10px;
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--font-weight-bold, 700);
}

.card__media {
  position: relative;
  border-block-end: 2px solid var(--main-color, #000);
}

.card__media-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.media-image-brightness {
  filter: brightness(130%);
}

.media-image-contrast {
  filter: contrast(150%);
}

.media-image-blur {
  filter: blur(0.3rem);
}

.media-image-opacity {
  filter: opacity(0.8);
}

.media-image-grayscale {
  filter: grayscale(0.8);
}

.media-image-saturate {
  filter: saturate(158%);
}

.media-image-sepia {
  filter: sepia(80%);
}

.media-image-multiple {
  filter: contrast(200%) blur(0.15rem);
}

.card__media-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: var(--accent-font-family, monospace);
  font-size: 14px;
  text-shadow:
  -1px 0 var(--text-shadow-text-stroke-color, #fff),
   1px 0 var(--text-shadow-text-stroke-color, #fff),
   0 -1px var(--text-shadow-text-stroke-color, #fff),
   0 1px var(--text-shadow-text-stroke-color, #fff);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__media-label {
    -webkit-text-stroke: 1px var(--text-shadow-text-stroke-color, #fff);
    text-stroke: 1px var(--text-shadow-text-stroke-color, #fff);
    text-shadow: none;
  }
}

@supports (mix-blend-mode: hard-light) {
  .card__media-label {
    mix-blend-mode: hard-light;
  }
}

@supports (mix-blend-mode: difference) {
  .button__text {
    mix-blend-mode: difference;
  }

  .floppy-icon {
    mix-blend-mode: difference;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: var(--main-font-size, 18px);
  line-height: 21px;
}

.card__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  color: var(--mix-blend-mode-color, #fff);
  font-family: var(--accent-font-family, monospace);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--content-bg, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--main-color, #000);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color, #000);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text {
  z-index: 1;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--content-bg, #fff);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color, #000);
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 103px;
  padding: 15px 21px 15px 19px;
}

.dialog {
  border: 2px solid var(--main-color, #000);
  padding-inline: 30px;
  padding-block: 30px;
  color: var(--main-color, #000);
  font-family: var(--accent-font-family, monospace);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--content-bg, #fff);
  max-inline-size: 357px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--main-color, #000);
}

.dialog__warning {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  min-inline-size: 100%;
  min-block-size: 38px;
}

@media (width <= 375px) {
  .dynamic-width {
    width: 100%;
  }

  .card__media-label {
    right: 13px;
  }

  .floppy-icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .save-button {
    flex-direction: column;
    margin-block-end: 100px;
  }

  .dialog {
    padding-inline: 40px;
    max-inline-size: 341px;
  }
}
