:root {
  --main-font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "Press Start 2P", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --main-font-size: 18px;
  --content-bg: #fff;
  --page-bg: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --main-color: #000;
  --mix-blend-mode-color: #fff;
  --text-shadow-text-stroke-color: #fff;
  --svg-icon-transparent: transparent;
  --svg-icon-black-color: #000;
  --svg-icon-red-color: #ff0000;
  --min-inline-size: 375px;
  --max-inline-size: 700px;
  --vw-ratio: (700 / 1440);
}
